{% extends 'Admin/admin_home.html' %}
{% block content %}

<section class="banner-bottom-wthree bg-light py-lg-5 py-3">
	<div class="container">
        <table class="table">
            <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in userlist %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td><a href="/admin_aprove_users/?id={{user.id}}" class="btn btn-success">Approve</a> </td>
                <td><a href="/admin_reject_users/?id={{user.id}}" class="btn btn-danger">Reject</a> </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>


         <br><br>
        <h2>Approved Users</h2>

        <table class="table">
            <thead>
            <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in userlist2 %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>

            </tr>
            {% endfor %}
            </tbody>

        </table>


    </div>
</section>

{% endblock %}